@import '../../../assets/sass/main.scss';
.form {
    margin: 0 0 80px 0;
    &__label {
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
        color: $white-color;
        margin: 0 0 8px 0;
    }
    &__input-box {
        margin: 0 0 16px 0;
    }
    &__input {
        background-color: transparent;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: #E0E6E9;
        padding: 14px;
        width: 100%;
        outline: none;
        background: #2D303E;
        border: 1px solid $border-color;
        border-radius: 8px;
    }
    &__input i{
        font-size: 16px;
        color: #E0E6E9;
    }
    .box {
        @include between;
    }
    .box div{
        width: 48%;
    }
}